.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #bbb;

  &.active .step-icon,
  &.completed .step-icon {
    color: #0ba13b;
  }

  &.active .label,
  &.completed .label {
    color: #666a71;
    font-weight: 500;
  }
}

.step-icon {
  font-size: 24px;
}

.label {
  font-size: 14px;
  color: #777;
  text-align: center;
}

.line {
  width: 80px;
  height: 2px;
  background-color: #e8e9ea;
  align-self: center;
  margin-bottom: 20px;

  &.line-completed {
    background-color: #0ba13b;
  }
}
