@use 'breakpoints' as *;
@use 'variables' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.booking-slot-wrapper {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.booking-slot-selection-wrapper {
  width: 100%;
  max-width: 700px;
  padding: 32px;
  background-color: white;

  @include mobile {
    padding: 16px;
  }
}

.booking-slot-selection-content {
  display: flex;
  gap: 24px;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
    gap: 16px;
  }
}

.booking-calendar {
  flex: 75%;

  @include mobile {
    width: 100%;
  }
}

.booking-time-slots-wrapper {
  display: flex;
  flex-direction: column;
  flex: 25%;
  gap: 32px;
  align-items: center;

  @include mobile {
    width: 100%;
    align-items: stretch;
    padding-bottom: 16px;
  }
}

.booking-time-slots-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.booking-time-slot-button.booking-time-slot-selected {
  background-color: $color-primary-green !important;
  color: white;
}

.booking-availability-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: $color-primary-blue;
  font-weight: 400;
}

.booking-availability-green-dot-indicator {
  width: 6px;
  height: 6px;
  background-color: $color-primary-green;
  border-radius: 50%;
  display: inline-block;
}

.booking-available-times-title {
  font-size: 16px;
  color: $color-primary-blue;
  font-weight: 400;

  @include mobile {
    align-self: center;
  }
}

mat-divider[vertical] {
  display: inline-block;
  align-self: stretch;

  @include mobile {
    display: none;
  }
}

::ng-deep .mat-calendar-body-cell.has-availability {
  position: absolute;
}

::ng-deep
  .mat-calendar-body-cell.has-availability
  .mat-calendar-body-cell-content::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: $color-primary-green;
  border-radius: 50%;
}
