<div class="booking-content">
    <div class="slot-wrapper">
        <div class="slot-selection-info">
            <h3>Doprajte si druhý názor od XX v Nemocnici Bory</h3>
            <p>Vyberte si termín na XX-minútovú konzultáciu za poplatok a náš odborník zhodnotí váš zdravotný stav a
                odporučí spôsob liečby.</p>
        </div>

        @if(calendarStartDate()) {
        <mat-card class="slot-selection-wrapper">
            <div class="booking-slot-selection-content">
                <div class="calendar">
                    <mat-calendar class="inline-calendar-card" [selected]="selectedDate()"
                        [dateFilter]="isDateAvailable" [dateClass]="dateClass" (selectedChange)="onDateSelected($event)"
                        [startAt]="calendarStartDate()"></mat-calendar>
                    <div class="availability-info"><span class="green-dot"></span>Dni s voľnými termínmi</div>
                </div>

                <mat-divider vertical></mat-divider>

                <div class="time-slots-wrapper">
                    <div>Dostupné časy</div>
                    <div class="slot-grid">
                        @for(slot of availableTimeSlots(); track slot.id){
                        <button mat-stroked-button color="primary" class="slot-button"
                            (click)="onTimeSlotSelected(slot)"
                            [class.slot-selected]="selectedTimeSlot()?.id === slot.id">
                            {{ slot.time }}
                        </button>
                        }
                    </div>
                </div>
            </div>
        </mat-card>
        }
    </div>
</div>

<app-booking-footer>
    <button mat-flat-button class="booking-step-button" [routerLink]="['../personal-info']"
        [disabled]="!isStepCompleted()">Pokračovať</button>
</app-booking-footer>