:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.booking-slot-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.booking-slot-selection-wrapper {
  width: 50%;
  max-width: 800px;
  padding: 24px;
  background-color: white;
}

.booking-slot-selection-content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.booking-calendar {
  flex: 2;
}

.booking-time-slots-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  align-items: center;
}

.booking-time-slots-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.booking-time-slot-button.booking-time-slot-selected {
  background-color: #0ba13b !important;
  color: white;
}

.booking-availability-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.booking-availability-green-dot-indicator {
  width: 6px;
  height: 6px;
  background-color: #0ba13b;
  border-radius: 50%;
  display: inline-block;
}

.booking-available-times-title {
  font-size: 16px;
  color: #033f75;
  font-weight: 400;
}

::ng-deep .mat-calendar-body-cell.has-availability {
  position: absolute;
}

::ng-deep
  .mat-calendar-body-cell.has-availability
  .mat-calendar-body-cell-content::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #0ba13b;
  border-radius: 50%;
}
