@use 'breakpoints' as *;

.top-bar {
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.top-bar-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @include mobile {
    &.has-content {
      gap: 16px;
    }
  }
}

.logo {
  flex: 0 0 200px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    max-width: 200px;
  }

  @include mobile {
    flex: 0 0 100%;
    justify-content: center;
  }
}

.top-bar-content-middle {
  flex: 1;
  display: flex;
  justify-content: center;

  @include mobile {
    justify-content: center;
  }
}

.top-bar-content-right {
  display: flex;
  align-items: center;
}
