@use 'breakpoints' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.personal-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.personal-info-form {
  display: grid;
  gap: 32px;
  padding-top: 32px;
  width: 100%;
  max-width: 800px;

  @include mobile {
    gap: 16px;
    padding-top: 16px;
  }
}

.grid-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.grid-center {
  display: flex;
  justify-content: center;
}
